  
# For reference on configuration:
# https://docs.ansible.com/ansible/latest/reference_appendices/config.html#ansible-configuration-settings
[defaults]
host_key_checking = False  
forks = 25                  
inventory = ./inventory
retry_files_enabled = False

[ssh_connection]
pipelining = True
